Repository aesthetic-inc/ai-workspace: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, eslint --fix, black, ruff check --fix

feat: add Button component with tests and Vitest config
  src/components/Button/Button.test.tsx
  src/components/Button/index.tsx
  src/components/index.ts
  src/test/setup.ts
  tsconfig.json
  tsconfig.node.json
  vitest.config.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add curriculum and Claude skills from local backup
  .claude/skills/aesthetic-executive-decision/SKILL.md
  .claude/skills/ai-system-architecture/SKILL.md
  .claude/skills/edilab-curriculum-design/SKILL.md
  .claude/skills/edilab-education-philosophy/SKILL.md
  .claude/skills/edilab-level-architecture/SKILL.md
  .claude/skills/output-enhancement/SKILL.md
  .claude/skills/test-skill/SKILL.md
  curriculum/python-intro-grade8.md
  curriculum/week1.md
Due: prettier --write

Add bootstrap.sh for multi-device setup
  bootstrap.sh
Due: none

ci: add audit gates (structure + secrets + bootstrap)
  .github/workflows/audit.yml
  .secrets.baseline
Due: none

fix: dev list returns exit 0 when empty
  bin/dev
Due: none

fix: dev list returns exit 0 when empty (#5)
  bin/dev
Due: none

fix: dev stop must snapshot the working repo (not dev-journal)
  bin/dev
Due: none

fix: dev stop must snapshot the working repo (not dev-journal) (#6)
  bin/dev
Due: none

feat: dev up defaults to latest session (v1.4) (#9)
  bin/dev
Due: none

feat: v1.5 auto-bootstrap on dev up
  bin/dev
Due: none

feat: v1.5 auto-bootstrap on dev up (#10)
  bin/dev
Due: none

feat: v1.6 add dev start + language toggle
  bin/dev
Due: none

feat: v1.7 auto-resume last project (human workflow)
  bin/dev
Due: none

feat: v1.7 auto-resume last project (human workflow) (#12)
  bin/dev
Due: none

fix: v1.9 pull repo on dev start for cross-device sync (#14)
  bin/dev
Due: none

security: fix npm vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

ci: add env-block step to audit gates (ACT-2026-005)
  .github/workflows/audit.yml
Due: none

security: fix npm vulnerabilities (#16)
  .github/workflows/audit.yml
  package-lock.json
  package.json
Due: prettier --write

docs: add 現在地 tracking block to CLAUDE.md
  CLAUDE.md
Due: prettier --write

chore: remove CURRENT-STATE block from CLAUDE.md
  CLAUDE.md
Due: prettier --write

fix(hooks): add husky pre-commit for ai-workspace (B3)
  .husky/pre-commit
Due: none

chore: clean up sync.sh and gitignore local files
  .gitignore
  sync.sh
Due: none

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,css,scss})) or (any of: *.md)
  eslint --fix: any of: *.{js,jsx}
  black: any of: *.py
  ruff check --fix: any of: *.py
